<!DOCTYPE html>
<html lang="en" ng-app="newGallery">
<head>
    <meta charset="UTF-8">
    <title>CSC New Gallery</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./scss/new-gallery.scss"/>
    <script type="module" src="./js/new-gallery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"
            integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body ng-controller="main" ng-cloak>

<div class="row">

    <div class="col-lg-6 order-lg-1 controls">
        <form>

            <div class="step" ng-if="formData.currentStep === 'gallerySelection'">
                <h1>Select your <span class="color">Gallery</span></h1><br/>
                <div class="gallery-selector">

                        <span ng-repeat="gallery in formData.galleries">
                            <input checked="checked" id="gallery-{{gallery.id}}" type="radio" name="gallery"
                                   ng-value="{{gallery.id}}" ng-model="formData.selectedGalleryId"/>
                            <label ng-click="selectGallery(gallery.id)" class="gallery-card"
                                   ng-style="{'background-image': 'url({{gallery.thumbnailURL}})'}"
                                   for="gallery-{{gallery.id}}"></label>
                        </span>

                </div>
                <br/>
                <h2>{{formData.selectedGallery.name}}</h2>
                <p>{{formData.selectedGallery.description}}</p>

                <br/>

                <button ng-click="goTo('paintingsSelection')" ng-if="formData.selectedGallery.enabled"
                        class="button btn-main">Place your paintings
                </button>
            </div>

            <div class="step" ng-if="formData.currentStep === 'paintingsSelection'">

                <h1>Let's exhibit the <span class="color">Paintings</span></h1><br/>
                <p class="text-justify">Now its time to add your paintings to the gallery. Add a <strong>name</strong> and <strong>URL</strong>
                    for each painting. Next, select the canvas aspect ratio that your painting follows the most. Preview the gallery and hit Deploy when ready!</p>
                <p class="text-center">You need a wallet provider like <strong><a href="https://metamask.io/" target="_blank">Metamask</a></strong> with a <strong><a href="https://www.coinex.net/" target="_blank">CSC</a></strong> wallet</p>
                <br/>
                <div class="row form-group" ng-repeat="_painting in formData.paintings">
                    <div class="col col-lg-9">

                        <input class="form-control" type="text" name="paintingName-{{$index}}" placeholder="Name"
                               ng-model="formData.paintings[$index].name" maxlength="25">
                        <input class="form-control" type="text" name="paintingURL-{{$index}}"
                               placeholder="URL (include protocol)" ng-model="formData.paintings[$index].url">
                    </div>

                    <div class="col-lg-3">
                        <select class="form-control" ng-model="formData.paintings[$index].canvas">
                            <option selected disabled ng-value="null">Canvas</option>
                            <option ng-repeat="canvasAspectRatio in _painting.acceptedAspectRatios" ng-value="$index">
                                {{canvasAspectRatio.w}} to {{canvasAspectRatio.h}}
                            </option>
                        </select>
                    </div>
                </div>
                <br/>
                <div class="text-center">
                    <a href="#" ng-click="previewPaintings()" class="button btn-secondary">PREVIEW PAINTINGS</a>
                </div>
                <br/>
                <br/>
                <div class="text-center">
                    <a href="#" ng-click="goTo('gallerySelection')" class="button btn-secondary">Change Gallery</a>
                    <a href="#" ng-click="deployGallery()" class="button btn-main">Deploy to CSC!</a>
                    <br />
                    <br />
                    <br />
                    <p class="small">Connected to the CSC main chain</p>
                </div>

            </div>

        </form>
    </div>

    <div class="col-lg-6 order-lg-2 pad0">
        <canvas id="preview" class="gallery-preview"></canvas>
    </div>

</div>

</body>
</html>